body{
    margin: 0;
}

canvas{
    background: #e3e3e3;
    display: block;
}

#src_img{
    position: absolute;
    display: none;
}

#title{
    z-index: 1000;
    position: absolute;
    top: 20px;
    left: 20px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 10px;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: medium;
    margin: 0;
}

#info{
    position: absolute;
    z-index: 1000;
    bottom: 100px;
    left: 30px;
}

#environment{
    position: absolute;
}

#creation{
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 200px;
    background: #FFFFFF;
    padding: 5px;
}

#creation_canvas{
    z-index: 100;
    margin-top: 10px;
    background: #CCCCCC
}

#environment_canvas{
    background: #333333
    
}